{% extends "theme/base_visitor.html.twig" %}

{% block title %}Page de blog{% endblock %}

{% block description %}Lisez des article intéressants {% endblock %}

{% block keywords %}Blog, Jean Dupont Medicine, Articles{% endblock %}

{% block main %}
<main>
<h1>Page de blog</page>
</main>
{% endblock %}

