{% extends "theme/base_visitor.html.twig" %}

{% block title %}Page de contact{% endblock %}

{% block description %}Contactez si vous avez des questions ou des idées{% endblock %}

{% block keywords %}Blog, Jean Dupont Medicine, Articles{% endblock %}

{% block main %}
<main>
<h1>Page de contact</page>
</main>
{% endblock %}

