{% extends "theme/base_visitor.html.twig" %}

{% block title %}Page d'acceuil{% endblock %}

{% block description %}Hello, c'est Jean Duppont{% endblock %}

{% block keywords %}blog, Jean Dupont, Santé, Medicine{% endblock %}

{% block main %}
<main>
<h1>page d'acceuil</page>
</main>
{% endblock %}

